<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Resume | Pierre Jambet</title>
    <meta name="description" content="Pierre Jambet is a developer.">
    <meta name="viewport" content="width=device-width">
    <link href="static/style.css" rel="stylesheet" type="text/css" media="all">
  </head>
  <body>

  <header>
    <h3>Pierre JAMBET</h3>
    <ul>
      <li>Address : 188 Ludlow Street, New York, 10002, NY</li>
      <li>Cellphones : +1 347 722 5921 / +33 (0)6 84 70 25 55</li>
      <li>E-mail : pierre.jambet@gmail.com</li>
      <li>Date of birth : 12/12/1989</li>
    </ul>
  </header>

  <h1>COMPUTER SCIENCE & MANAGEMENT ENGINEER</h1>

  <section>
    <h2>Professional experience</h2>
    <ol>
      <li>
        Mar 2013 - Present <h4>Backend developer at Fueled, New York, United States :</h4>
        <ul>
          <li>Backend development : Python, Django</li>
          <li>Frontend development : Backbonejs, Angularjs</li>
          <li>Management of a four developers team</li>
          <li>TDD</li>
          <li>API Development</li>
        </ul>
      </li>
      <li>
        July 2012 - Feb 2013 <h4>Web developer at Wopata, Bordeaux, France :</h4>
        <ul>
          <li>Full stack developer, Ruby on Rails</li>
          <li>Javascript: jQuery, Mootools, CoffeeScript</li>
          <li>SQL & NoSQL databases</li>
          <li>BDD with RSpec</li>
          <li>API Development</li>
        </ul>
      </li>
      <li>
        January - July 2012 <h4>Intern at Wopata, Bordeaux, France :</h4>
        <ul>
          <li>Ruby on Rails development</li>
          <li>API development</li>
        </ul>
      </li>
      <li>
        June-August 2011 <h4>Intern at President College, Kuala Lumpur, Malaysia :</h4>
        <ul>
          <li>Web development using Joomla! 1.5 platform, CMS</li>
        </ul>
      </li>
      <li>
        June-July 2010 <h4>Intern at NamaeConcept, Montpellier, France :</h4>
        <ul>
          <li>Web development: Implementation of a french expressionsearch engine in PHP</li>
        </ul>
      </li>
    </ol>
  </section>

  <section>
    <h2>Education</h2>
    <ol>
      <li>
      2011 University of Applied Sciences, Metropolia, IT & Media EngineeringEspoo, Finland
      </li>
      <li>
      2009-2011 École d'ingénieur Polytech Montpellier, Informatique et Gestion, FranceEngineering School ( 3rd & 4th year) in Computer science and Management, France
      </li>
      <li>
      2007-2009 Parcours Ecoles Ingenieurs POLYTECH’, FranceUniversité Montpellier II, France
      </li>
    </ol>
  </section>

  <section>
    <h2>Side project : Beech</h2>
    App store link : <a href="https://itunes.apple.com/fr/app/beech/id607747222?l=en&mt=8">https://itunes.apple.com/fr/app/beech/id607747222?l=en&mt=8</a>
    <p>
    Beech is a small project I made with my designer friend, <a href="http://lucchaissac.com/">luc</a>. It’s an iPhone app which allows people to share the beer they love with their friends. Design has been made by luc, and I developed the app and the backend. The app is a regular iOS application, and the API is a rails app. It is on github : <a href="https://github.com/pjambet/beech-server">https://github.com/pjambet/beech-server</a>.
    </p>
  </section>

  <section>
    <h2>Other computer skills</h2>
    <ul>
      <li> Basic knowledge of other popular modern web techologies such as Node.js and ASP.net </li>
      <li> Basic knowledge of iPhone application development.  </li>
      <li> My other side projects can be found on github : <a href="https://github.com/pjambet">https://github.com/pjambet</a> </li>
    </ul>
  </section>

  <section>
    <h2>Languages</h2>
    Native language: French
    Foreign Languages :  English (Advanced level) - TOEIC: 980/990 (C1)  Spanish (Basic knowledge)
  </section>

  <section>
    <h2>Interest and leisure activities</h2>
    <p>
    New technologies, music (practice of the guitar and the ukulele), cinema, video games, archery for more than 10 years, various sports (running, rugby). I have a blog where I write technical articles : <a href="http://pjambet.github.io/">http://pjambet.github.io/</a>.
    </p>
  </section>

  <section id="links">
    <h2>Links</h2>
    <dl>
      <dt>Github :</dt><dd><a href="https://github.com/pjambet/">https://github.com/pjambet/</a></dd>
      <dt>Stackoverflow :</dt><dd><a href="http://stackoverflow.com/users/919641/pjam">http://stackoverflow.com/users/919641/pjam</a></dd>
      <dt>Twitter :</dt><dd><a href="http://twitter.com/pierre_jambet">http://twitter.com/pierre_jambet</a></dd>
      <dt>Blog :</dt><dd><a href="http://pjambet.github.io/">http://pjambet.github.io/</a></dd>
      <dt>Linkedin :</dt><dd><a href="http://www.linkedin.com/profile/view?id=156041350">http://www.linkedin.com/profile/view?id=156041350</a></dd>
    </dl>
  </section>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-35058499-3', 'pierrejambet.com');
      ga('send', 'pageview');

    </script>
  </body>
</html>
