<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Resume | Pierre Jambet</title>
    <meta name="description" content="Pierre Jambet is a developer.">
    <meta name="viewport" content="width=device-width">
    <link href="static/style.css" rel="stylesheet" type="text/css" media="all">
  </head>
  <body>

  <header>

    <div id="link">
      <a id="download-link" target="_blank" href="https://dl.dropboxusercontent.com/u/3368009/Pierre%20Jambet%20-%20resume.pdf">Download PDF version</a>
    </div>
    <h3>Pierre JAMBET</h3>
    <ul>
      <li>Address: 188 Ludlow Street, New York, 10002, NY</li>
      <li>E-mail: pierre.jambet [ at ] gmail.com</li>
      <li>Age: <span id="age"></span></li>
    </ul>
  </header>

  <h1>Web and mobile developer</h1>

  <h2>I'm a developer, specializing in backend web development. My strengths include Rails and Django, and I also have experience with iOS and frontend javascript development.</h2>

  <section>
    <h3>Professional experience</h3>
    <ol>
      <li>
        Mar 2013 - Present - <h4>Backend developer at Fueled, New York:</h4>
        <ul>
          <li>Backend development: <strong>Python, Django</strong></li>
          <li>Frontend development: <strong>Backbone.js, AngularJS</strong></li>
          <li>Management of a four developer team</li>
          <li>Test Driven Development</li>
          <li>API Development</li>
        </ul>
      </li>
      <li>
        July 2012 - Feb 2013 - <h4>Web developer at Wopata, Bordeaux, France:</h4>
        <ul>
          <li>Full stack developer, <strong>Ruby on Rails</strong></li>
          <li>Javascript: jQuery, Mootools, CoffeeScript</li>
          <li>SQL & NoSQL databases: <strong>PostgreSQL, MongoDB</strong></li>
          <li>BDD with <strong>RSpec</strong></li>
          <li>API Development</li>
        </ul>
      </li>
      <li>
        January - July 2012 - <h4>Intern at Wopata, Bordeaux, France:</h4>
        <ul>
          <li>Ruby on Rails development</li>
        </ul>
      </li>
      <li>
        June-August 2011 - <h4>Intern at President College, Kuala Lumpur, Malaysia:</h4>
        <ul>
          <li>Web development using Joomla! 1.5 platform, CMS</li>
        </ul>
      </li>
      <li>
        June-July 2010 - <h4>Intern at NamaeConcept, Montpellier, France:</h4>
        <ul>
          <li>Implementation of a french expression search engine in PHP</li>
        </ul>
      </li>
    </ol>
  </section>

  <section>
    <h3>Education</h3>
    <ol>
      <li>
      <strong>2011 University of Applied Sciences, Metropolia, IT & Media Engineering</strong>
      <i>Espoo, Finland</i>
      </li>
      <li>
      <strong>2009-2011 École d'ingénieur Polytech Montpellier, Informatique et Gestion, France</strong>
      <i>Engineering School (3rd & 4th year) in Computer science and Management, France</i>
      </li>
      <li>
      <strong>2007-2009 Parcours Ecoles Ingenieurs POLYTECH’, France</strong>
      <i>Université Montpellier II, France</i>
      </li>
    </ol>
  </section>

  <section>
    <h3>Side project: Beech</h3>
    App store link: <a href="https://itunes.apple.com/fr/app/beech/id607747222?l=en&mt=8">https://itunes.apple.com/fr/app/beech/id607747222?l=en&mt=8</a>
    <p>
    Beech is a small project I made with my designer friend, <a href="http://lucchaissac.com/">Luc</a>. It’s an iPhone app which allows people to share the beer they love with their friends. Luc designed the app, and I built the entire stack. The client is an iOS app, and the API is a Rails app. It is available on github: <a href="https://github.com/pjambet/beech-server">https://github.com/pjambet/beech-server</a>.
    </p>
  </section>

  <section>
    <h3>Skills</h3>
    <ul>
      <li><strong>Rails</strong> and <strong>Django</strong></li>
      <li>Frontend javascript: <strong>Backbone.js, AngularJS</strong></li>
      <li>Basic knowledge of other popular modern web techologies such as <strong>Node.js</strong> and ASP.net </li>
      <li>Basic knowledge of <strong>iPhone application development</strong>.</li>
      <li>My other side projects can be found on github: <a href="https://github.com/pjambet">https://github.com/pjambet</a> </li>
    </ul>
  </section>

  <section>
    <h3>Languages</h3>
    <ul>
      <li> Native language: French </li>
      <li>
      Foreign Languages:
        <ul>
        <li>English (Advanced level) - TOEIC: 980/990 (C1) </li>
        <li>Spanish (Basic knowledge)</li>
        </ul>
      </li>
    </ul>

  </section>

  <section>
    <h3>Interests</h3>
    <p>New technologies, music (guitar and ukulele), cinema, video games, archery for more than 10 years, various sports (running, rugby).</p>
    <p>I have a blog where I write technical articles: <a href="http://pjambet.github.io/">http://pjambet.github.io/</a>.
    </p>
  </section>

  <section id="links">
    <h3>Links</h3>
    <dl>
      <dt>Github:</dt><dd><a href="https://github.com/pjambet/">https://github.com/pjambet/</a></dd>
      <dt>Stackoverflow:</dt><dd><a href="http://stackoverflow.com/users/919641/pjam">http://stackoverflow.com/users/919641/pjam</a></dd>
      <dt>Twitter:</dt><dd><a href="http://twitter.com/pierre_jambet">http://twitter.com/pierre_jambet</a></dd>
      <dt>Blog:</dt><dd><a href="http://pjambet.github.io/">http://pjambet.github.io/</a></dd>
      <dt>Linkedin:</dt><dd><a href="http://www.linkedin.com/profile/view?id=156041350">http://www.linkedin.com/profile/view?id=156041350</a></dd>
    </dl>
  </section>

  <div id="link">
    <a id="download-link" target="_blank" href="https://dl.dropboxusercontent.com/u/3368009/Pierre%20Jambet%20-%20resume.pdf">Download PDF version</a>
  </div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-35058499-3', 'pierrejambet.com');
      ga('send', 'pageview');

    </script>
    <script>
      var setAge = function() {
        var $age = document.querySelectorAll('#age')[0];
        var birthday = new Date('1989-12-12');
        $age.textContent = Math.floor((new Date() - birthday) / (1000 * 86400 * 365.25));
      };
      setAge();
    </script>
  </body>
</html>
